@font-face {
    font-family: 'Avenir';
    src: url('../fonts/New Cicle Fina.ttf'), url('../fonts/New Cicle Fina.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Avenir';
    font-size: 101% !important;
}

.cb-wrap {
    position: fixed;
    right: 15px;
}

canvas#signature {
    border: solid;
    margin: 0 auto;
    text-align: center;
}

canvas#signaturePraticien {
    border: solid;
}

form > fieldset {
    padding: 0;
}

.container {
    margin: auto 0px;
    border-radius: 7px;
    margin-top: 10px;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  position: absolute;
  display:         flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
  height: 100%;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}

.docSection {
    background: #f5f5f5;
    box-shadow: 0px 7px 16px 0px #d1d1d1;
    /* min-width: 210px; */
}

.docSelection li {
    min-height: 64px;
    overflow: hidden;
    margin-left: 12px;
    border-bottom: 1px #aaa solid;
    border-top: 1px #aaa solid;
    padding: 5px 0px;
    text-align: center;
}

.docSelection {
    margin-top: 20px;
}

.docSelection li:hover {
    background-color: #ddd;
    cursor: pointer;
}
.docSelection li.selected {
    background-color: #ddd;
    cursor: pointer;
}
.docSelection .glyphicon {
    float: right;
    top: 12px;
    margin: 5px;
}
.right-side {
    max-height: 100%;
    overflow: overlay;
}
body {/* overflow-x: hidden !important; */}

.option-value{
  display:none;
}

ol.sortable-options input[type=text] {
    width: calc(95% - 17px);
}

.dash {
  overflow: hidden;
}
.icon-checkbox{
  display: none;
}

.spinner {
  margin: 100px auto 0;
  width: 1500px;
  text-align: center;
}

.spinner > div {
  width: 32px;
  height: 32px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.5) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}