html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 200%;
    font: inherit;
    vertical-align: baseline
}


.list.inset {
    margin-left: calc(var(--f7-list-inset-side-margin) + var(--f7-safe-area-outer-left));
    margin-right: calc(var(--f7-list-inset-side-margin) + var(--f7-safe-area-outer-right));
    border-radius: var(--f7-list-inset-border-radius);
    --f7-safe-area-left:0px;--f7-safe-area-right:0px}

.list.inset .block-title {
    margin-left: 0;
    margin-right: 0
}

.list.inset ul {
    border-radius: var(--f7-list-inset-border-radius)
}

.list.inset ul:after,.list.inset ul:before {
    display: none!important
}

.list.inset li.swipeout:first-child,.list.inset li:first-child>a {
    border-radius: var(--f7-list-inset-border-radius) var(--f7-list-inset-border-radius) 0 0
}

.list.inset li.swipeout:last-child,.list.inset li:last-child>a {
    border-radius: 0 0 var(--f7-list-inset-border-radius) var(--f7-list-inset-border-radius)
}

.list.inset li.swipeout:first-child:last-child,.list.inset li:first-child:last-child>a {
    border-radius: var(--f7-list-inset-border-radius)
}

@media (min-width: 480px) {
    .list.xsmall-inset {
        margin-left:calc(var(--f7-list-inset-side-margin) + var(--f7-safe-area-outer-left));
        margin-right: calc(var(--f7-list-inset-side-margin) + var(--f7-safe-area-outer-right));
        border-radius: var(--f7-list-inset-border-radius);
        --f7-safe-area-left:0px;--f7-safe-area-right:0px}

    .list.xsmall-inset .block-title {
        margin-left: 0;
        margin-right: 0
    }

    .list.xsmall-inset ul {
        border-radius: var(--f7-list-inset-border-radius)
    }

    .list.xsmall-inset ul:after,.list.xsmall-inset ul:before {
        display: none!important
    }

    .list.xsmall-inset li:first-child>a {
        border-radius: var(--f7-list-inset-border-radius) var(--f7-list-inset-border-radius) 0 0
    }

    .list.xsmall-inset li:last-child>a {
        border-radius: 0 0 var(--f7-list-inset-border-radius) var(--f7-list-inset-border-radius)
    }

    .list.xsmall-inset li:first-child:last-child>a {
        border-radius: var(--f7-list-inset-border-radius)
    }
}

@media (min-width: 568px) {
    .list.small-inset {
        margin-left:calc(var(--f7-list-inset-side-margin) + var(--f7-safe-area-outer-left));
        margin-right: calc(var(--f7-list-inset-side-margin) + var(--f7-safe-area-outer-right));
        border-radius: var(--f7-list-inset-border-radius);
        --f7-safe-area-left:0px;--f7-safe-area-right:0px}

    .list.small-inset .block-title {
        margin-left: 0;
        margin-right: 0
    }

    .list.small-inset ul {
        border-radius: var(--f7-list-inset-border-radius)
    }

    .list.small-inset ul:after,.list.small-inset ul:before {
        display: none!important
    }

    .list.small-inset li:first-child>a {
        border-radius: var(--f7-list-inset-border-radius) var(--f7-list-inset-border-radius) 0 0
    }

    .list.small-inset li:last-child>a {
        border-radius: 0 0 var(--f7-list-inset-border-radius) var(--f7-list-inset-border-radius)
    }

    .list.small-inset li:first-child:last-child>a {
        border-radius: var(--f7-list-inset-border-radius)
    }
}

@media (min-width: 768px) {
    .list.medium-inset {
        margin-left:calc(var(--f7-list-inset-side-margin) + var(--f7-safe-area-outer-left));
        margin-right: calc(var(--f7-list-inset-side-margin) + var(--f7-safe-area-outer-right));
        border-radius: var(--f7-list-inset-border-radius);
        --f7-safe-area-left:0px;--f7-safe-area-right:0px}

    .list.medium-inset .block-title {
        margin-left: 0;
        margin-right: 0
    }

    .list.medium-inset ul {
        border-radius: var(--f7-list-inset-border-radius)
    }

    .list.medium-inset ul:after,.list.medium-inset ul:before {
        display: none!important
    }

    .list.medium-inset li:first-child>a {
        border-radius: var(--f7-list-inset-border-radius) var(--f7-list-inset-border-radius) 0 0
    }

    .list.medium-inset li:last-child>a {
        border-radius: 0 0 var(--f7-list-inset-border-radius) var(--f7-list-inset-border-radius)
    }

    .list.medium-inset li:first-child:last-child>a {
        border-radius: var(--f7-list-inset-border-radius)
    }
}

@media (min-width: 1024px) {
    .list.large-inset {
        margin-left:calc(var(--f7-list-inset-side-margin) + var(--f7-safe-area-outer-left));
        margin-right: calc(var(--f7-list-inset-side-margin) + var(--f7-safe-area-outer-right));
        border-radius: var(--f7-list-inset-border-radius);
        --f7-safe-area-left:0px;--f7-safe-area-right:0px}

    .list.large-inset .block-title {
        margin-left: 0;
        margin-right: 0
    }

    .list.large-inset ul {
        border-radius: var(--f7-list-inset-border-radius)
    }

    .list.large-inset ul:after,.list.large-inset ul:before {
        display: none!important
    }

    .list.large-inset li:first-child>a {
        border-radius: var(--f7-list-inset-border-radius) var(--f7-list-inset-border-radius) 0 0
    }

    .list.large-inset li:last-child>a {
        border-radius: 0 0 var(--f7-list-inset-border-radius) var(--f7-list-inset-border-radius)
    }

    .list.large-inset li:first-child:last-child>a {
        border-radius: var(--f7-list-inset-border-radius)
    }
}

@media (min-width: 1200px) {
    .list.xlarge-inset {
        margin-left:calc(var(--f7-list-inset-side-margin) + var(--f7-safe-area-outer-left));
        margin-right: calc(var(--f7-list-inset-side-margin) + var(--f7-safe-area-outer-right));
        border-radius: var(--f7-list-inset-border-radius);
        --f7-safe-area-left:0px;--f7-safe-area-right:0px}

    .list.xlarge-inset .block-title {
        margin-left: 0;
        margin-right: 0
    }

    .list.xlarge-inset ul {
        border-radius: var(--f7-list-inset-border-radius)
    }

    .list.xlarge-inset ul:after,.list.xlarge-inset ul:before {
        display: none!important
    }

    .list.xlarge-inset li:first-child>a {
        border-radius: var(--f7-list-inset-border-radius) var(--f7-list-inset-border-radius) 0 0
    }

    .list.xlarge-inset li:last-child>a {
        border-radius: 0 0 var(--f7-list-inset-border-radius) var(--f7-list-inset-border-radius)
    }

    .list.xlarge-inset li:first-child:last-child>a {
        border-radius: var(--f7-list-inset-border-radius)
    }
}

.list .no-chevron,.list.no-chevron {
    --f7-list-chevron-icon-color:transparent;--f7-list-chevron-icon-area:0px}

.ios .item-link.active-state .item-inner:after,.ios .links-list a.active-state:after,.ios .list-button.active-state:after {
    background-color: transparent
}

.ios .links-list a.active-state,.ios .list .item-link.active-state,.ios .list .list-button.active-state {
    transition-duration: 0s
}

.md .list .item-media {
    min-width: 40px
}

.aurora .list .item-media {
    min-width: 18px
}

.aurora .links-list a:before,.aurora .list .item-link .item-inner:before,.aurora .media-list .chevron-center .item-link .item-inner:before,.aurora .media-list .item-link .item-title-row:before,.aurora .media-list .item-link.chevron-center .item-inner:before,.aurora .media-list.chevron-center .item-link .item-inner:before,.aurora li.media-item .chevron-center .item-link .item-inner:before,.aurora li.media-item .item-link .item-title-row:before,.aurora li.media-item .item-link.chevron-center .item-inner:before,.aurora li.media-item.chevron-center .item-link .item-inner:before {
    content: 'chevron_right_aurora'
}

.aurora .links-list a,.aurora .list .item-link,.aurora .list .list-button {
    transition-duration: 0s
}

.aurora.device-desktop .links-list a:hover:not(.active-state):not(.no-hover),.aurora.device-desktop .list .item-link:hover:not(.active-state):not(.no-hover) {
    background: var(--f7-list-link-hover-bg-color)
}

.aurora.device-desktop .list .list-button:hover:not(.active-state):not(.no-hover) {
    background: var(--f7-list-button-hover-bg-color)
}

:root {
    --f7-badge-text-color:#fff;--f7-badge-bg-color:#8e8e93;--f7-badge-padding:0 4px;--f7-badge-in-icon-size:16px;--f7-badge-in-icon-font-size:10px;--f7-badge-font-weight:normal;--f7-badge-font-size:12px}

.ios {
    --f7-badge-size:20px}

.md {
    --f7-badge-size:18px}

.aurora {
    --f7-badge-size:18px;--f7-badge-font-weight:600;--f7-badge-in-icon-size:15px}

.badge {
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: var(--f7-badge-text-color);
    background: var(--f7-badge-bg-color);
    position: relative;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    font-weight: var(--f7-badge-font-weight);
    font-size: var(--f7-badge-font-size);
    border-radius: var(--f7-badge-size);
    padding: var(--f7-badge-padding);
    height: var(--f7-badge-size);
    min-width: var(--f7-badge-size)
}

.f7-icons .badge,.framework7-icons .badge,.icon .badge,.material-icons .badge {
    position: absolute;
    left: 100%;
    margin-left: -10px;
    top: -2px;
    font-family: var(--f7-font-family);
    --f7-badge-font-size:var(--f7-badge-in-icon-font-size);--f7-badge-size:var(--f7-badge-in-icon-size)}

.badge[class*=color-] {
    --f7-badge-bg-color:var(--f7-theme-color)}

:root {
    --f7-button-min-width:32px;--f7-button-bg-color:transparent;--f7-button-border-width:0px;--f7-button-outline-border-width:2px;--f7-button-raised-box-shadow:0 1px 3px rgba(0, 0, 0, 0.12),0 1px 2px rgba(0,0,0,0.24);--f7-button-raised-pressed-box-shadow:0 3px 6px rgba(0, 0, 0, 0.16),0 3px 6px rgba(0,0,0,0.23);--f7-segmented-raised-divider-color:rgba(0, 0, 0, 0.1);--f7-segmented-strong-padding:2px;--f7-segmented-strong-between-buttons:4px;--f7-segmented-strong-button-font-weight:500;--f7-segmented-strong-button-active-box-shadow:0px 2px 2px rgba(0, 0, 0, 0.25);--f7-segmented-strong-bg-color:rgba(0, 0, 0, 0.07);--f7-segmented-strong-button-text-color:#000;--f7-segmented-strong-button-pressed-bg-color:rgba(0, 0, 0, 0.07);--f7-segmented-strong-button-hover-bg-color:rgba(0, 0, 0, 0.04);--f7-segmented-strong-button-active-text-color:#000;--f7-segmented-strong-button-active-bg-color:#fff}

:root .theme-dark,:root.theme-dark {
    --f7-segmented-strong-bg-color:rgba(255, 255, 255, 0.1);--f7-segmented-strong-button-pressed-bg-color:rgba(255, 255, 255, 0.04);--f7-segmented-strong-button-hover-bg-color:rgba(255, 255, 255, 0.02);--f7-segmented-strong-button-active-bg-color:rgba(255, 255, 255, 0.14);--f7-segmented-strong-button-text-color:#fff;--f7-segmented-strong-button-active-text-color:#fff}

.ios {
    --f7-button-font-size:13px;--f7-button-height:28px;--f7-button-padding-horizontal:10px;--f7-button-border-radius:5px;--f7-button-font-weight:600;--f7-button-letter-spacing:0;--f7-button-text-transform:uppercase;--f7-button-large-height:44px;--f7-button-large-font-size:17px;--f7-button-large-font-weight:500;--f7-button-large-text-transform:none;--f7-button-small-height:26px;--f7-button-small-font-size:13px;--f7-button-small-font-weight:600;--f7-button-small-text-transform:uppercase;--f7-button-small-outline-border-width:2px;--f7-segmented-strong-button-text-transform:none;--f7-segmented-strong-button-active-font-weight:600}

.md {
    --f7-button-font-size:14px;--f7-button-height:36px;--f7-button-padding-horizontal:8px;--f7-button-border-radius:4px;--f7-button-font-weight:500;--f7-button-letter-spacing:0.03em;--f7-button-text-transform:uppercase;--f7-button-large-height:48px;--f7-button-large-font-size:14px;--f7-button-large-font-weight:500;--f7-button-large-text-transform:uppercase;--f7-button-small-height:28px;--f7-button-small-font-size:12px;--f7-button-small-font-weight:500;--f7-button-small-text-transform:uppercase;--f7-button-small-outline-border-width:2px;--f7-segmented-strong-button-text-transform:uppercase;--f7-segmented-strong-button-active-font-weight:500;--f7-button-pressed-bg-color:rgba(0, 0, 0, 0.1)}

.md .theme-dark,.md.theme-dark {
    --f7-button-pressed-bg-color:rgba(255, 255, 255, 0.1)}

.aurora {
    --f7-button-font-size:14px;--f7-button-height:28px;--f7-button-min-width:24px;--f7-button-padding-horizontal:10px;--f7-button-border-radius:4px;--f7-button-font-weight:500;--f7-button-letter-spacing:0.02;--f7-button-text-transform:none;--f7-button-large-height:34px;--f7-button-large-font-size:14px;--f7-button-large-font-weight:600;--f7-button-large-text-transform:none;--f7-button-small-height:24px;--f7-button-small-font-size:12px;--f7-button-small-font-weight:600;--f7-button-small-text-transform:none;--f7-button-small-outline-border-width:1px;--f7-segmented-strong-button-text-transform:none;--f7-segmented-strong-button-active-font-weight:600}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%
}

.button {
    text-decoration: none;
    text-align: center;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: 0 0;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    overflow: hidden;
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    box-sizing: border-box;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    border: var(--f7-button-border-width,0px) solid var(--f7-button-border-color,var(--f7-theme-color));
    font-size: var(--f7-button-font-size);
    color: var(--f7-button-text-color,var(--f7-theme-color));
    height: var(--f7-button-height);
    line-height: calc(var(--f7-button-height) - var(--f7-button-border-width,0) * 2);
    padding: var(--f7-button-padding-vertical,0px) var(--f7-button-padding-horizontal);
    border-radius: var(--f7-button-border-radius);
    min-width: var(--f7-button-min-width);
    font-weight: var(--f7-button-font-weight);
    letter-spacing: var(--f7-button-letter-spacing);
    text-transform: var(--f7-button-text-transform);
    background-color: var(--f7-button-bg-color);
    box-shadow: var(--f7-button-box-shadow)
}

.button.active-state {
    background-color: var(--f7-button-pressed-bg-color,rgba(var(--f7-theme-color-rgb),.15));
    color: var(--f7-button-pressed-text-color,var(--f7-button-text-color,var(--f7-theme-color)))
}

input[type=button].button,input[type=submit].button {
    width: 100%
}

.button>i+i,.button>i+span,.button>span+i,.button>span+span {
    margin-left: 4px
}

.appbar .button,.navbar .button,.searchbar .button,.subnavbar .button,.toolbar .button {
    color: var(--f7-button-text-color,var(--f7-theme-color))
}

.aurora .button-round-aurora,.button-round,.ios .button-round-ios,.md .button-round-md {
    --f7-button-border-radius:var(--f7-button-height)}

.aurora .button-fill-aurora,.button-active,.button-fill,.button.tab-link-active,.ios .button-fill-ios,.md .button-fill-md {
    --f7-button-bg-color:var(--f7-button-fill-bg-color, var(--f7-theme-color));--f7-button-text-color:var(--f7-button-fill-text-color, #fff);--f7-touch-ripple-color:var(--f7-touch-ripple-white)}

.aurora .button-fill-aurora,.button-fill,.ios .button-fill-ios,.md .button-fill-md {
    --f7-button-pressed-bg-color:var(--f7-button-fill-pressed-bg-color)}

.button-active,.button.tab-link-active {
    --f7-button-pressed-bg-color:var(--f7-button-bg-color)}

.aurora .button-outline-aurora,.button-outline,.ios .button-outline-ios,.md .button-outline-md {
    --f7-button-border-color:var(--f7-button-outline-border-color, var(--f7-theme-color));--f7-button-border-width:var(--f7-button-outline-border-width)}

.aurora .button-large-aurora,.button-large,.ios .button-large-ios,.md .button-large-md {
    --f7-button-height:var(--f7-button-large-height);--f7-button-font-size:var(--f7-button-large-font-size);--f7-button-font-weight:var(--f7-button-large-font-weight);--f7-button-text-transform:var(--f7-button-large-text-transform)}

.aurora .button-small-aurora,.button-small,.ios .button-small-ios,.md .button-small-md {
    --f7-button-outline-border-width:var(--f7-button-small-outline-border-width);--f7-button-height:var(--f7-button-small-height);--f7-button-font-size:var(--f7-button-small-font-size);--f7-button-font-weight:var(--f7-button-small-font-weight);--f7-button-text-transform:var(--f7-button-small-text-transform)}

.ios .button-small-ios.button-fill,.ios .button-small.button-fill,.ios .button-small.button-fill-ios {
    --f7-button-border-width:var(--f7-button-small-outline-border-width);--f7-button-pressed-text-color:var(--f7-theme-color);--f7-button-pressed-bg-color:transparent}

.segmented {
    align-self: center;
    display: flex;
    flex-wrap: nowrap;
    border-radius: var(--f7-button-border-radius);
    box-shadow: var(--f7-button-box-shadow);
    box-sizing: border-box
}

.segmented .button,.segmented button {
    width: 100%;
    flex-shrink: 1;
    min-width: 0;
    border-radius: 0
}

.segmented .button:first-child {
    border-radius: var(--f7-button-border-radius) 0 0 var(--f7-button-border-radius)
}

.segmented .button:not(.button-outline):first-child {
    border-left: none
}

.segmented .button.button-outline:nth-child(n+2) {
    border-left: none
}

.segmented .button:last-child {
    border-radius: 0 var(--f7-button-border-radius) var(--f7-button-border-radius) 0
}

.segmented .button-round:first-child {
    border-radius: var(--f7-button-height) 0 0 var(--f7-button-height)
}

.segmented .button-round:last-child {
    border-radius: 0 var(--f7-button-height) var(--f7-button-height) 0
}

.segmented .button:first-child:last-child {
    border-radius: var(--f7-button-border-radius)
}

.aurora .segmented-raised-aurora,.ios .segmented-raised-ios,.md .segmented-raised-md,.segmented-raised {
    box-shadow: var(--f7-button-raised-box-shadow)
}

.aurora .segmented-raised-aurora .button:not(.button-outline),.ios .segmented-raised-ios .button:not(.button-outline),.md .segmented-raised-md .button:not(.button-outline),.segmented-raised .button:not(.button-outline) {
    border-left: 1px solid var(--f7-segmented-raised-divider-color)
}

.aurora .button-raised-aurora,.button-raised,.ios .button-raised-ios,.md .button-raised-md {
    --f7-button-box-shadow:var(--f7-button-raised-box-shadow)}

.aurora .button-raised-aurora.active-state,.button-raised.active-state,.ios .button-raised-ios.active-state,.md .button-raised-md.active-state {
    --f7-button-box-shadow:var(--f7-button-raised-pressed-box-shadow)}

.aurora .segmented-strong-aurora,.ios .segmented-strong-ios,.md .segmented-strong-md,.segmented-strong {
    --f7-button-bg-color:transparent;--f7-button-hover-bg-color:var(--f7-segmented-strong-button-hover-bg-color);--f7-button-text-color:var(--f7-segmented-strong-button-text-color);--f7-button-font-weight:var(--f7-segmented-strong-button-font-weight);--f7-button-text-transform:var(--f7-segmented-strong-button-text-transform);--f7-button-pressed-bg-color:var(--f7-segmented-strong-button-pressed-bg-color);background: var(--f7-segmented-strong-bg-color);
    border-radius: calc(var(--f7-button-border-radius) + 2px);
    box-shadow: none;
    padding: var(--f7-segmented-strong-padding);
    overflow: hidden
}

.aurora .segmented-strong-aurora .button,.aurora .segmented-strong-aurora .button:first-child,.aurora .segmented-strong-aurora .button:last-child,.ios .segmented-strong-ios .button,.ios .segmented-strong-ios .button:first-child,.ios .segmented-strong-ios .button:last-child,.md .segmented-strong-md .button,.md .segmented-strong-md .button:first-child,.md .segmented-strong-md .button:last-child,.segmented-strong .button,.segmented-strong .button:first-child,.segmented-strong .button:last-child {
    border-radius: var(--f7-button-border-radius)
}

.aurora .segmented-strong-aurora .button+.button,.ios .segmented-strong-ios .button+.button,.md .segmented-strong-md .button+.button,.segmented-strong .button+.button {
    margin-left: var(--f7-segmented-strong-between-buttons)
}

.aurora .segmented-strong-aurora .button.button-active,.aurora .segmented-strong-aurora .button.tab-link-active,.ios .segmented-strong-ios .button.button-active,.ios .segmented-strong-ios .button.tab-link-active,.md .segmented-strong-md .button.button-active,.md .segmented-strong-md .button.tab-link-active,.segmented-strong .button.button-active,.segmented-strong .button.tab-link-active {
    --f7-button-hover-bg-color:var(--f7-segmented-strong-button-active-bg-color);--f7-button-bg-color:var(--f7-segmented-strong-button-active-bg-color);--f7-button-text-color:var(--f7-segmented-strong-button-active-text-color);--f7-button-font-weight:var(--f7-segmented-strong-button-active-font-weight);--f7-button-box-shadow:var(--f7-segmented-strong-button-active-box-shadow)}

.aurora .segmented-round-aurora,.ios .segmented-round-ios,.md .segmented-round-md,.segmented-round {
    border-radius: var(--f7-button-height)
}

.subnavbar .segmented {
    width: 100%
}

.ios .button {
    transition-duration: .1s
}

.ios .button-fill,.ios .button-fill-ios {
    --f7-button-pressed-bg-color:var(--f7-button-fill-pressed-bg-color, var(--f7-theme-color-tint))}

.ios .button-small,.ios .button-small-ios {
    transition-duration: .2s
}

.md .button {
    transition-duration: .3s;
    transform: translate3d(0,0,0)
}

.md .button-fill,.md .button-fill-md {
    --f7-button-pressed-bg-color:var(--f7-button-fill-pressed-bg-color, var(--f7-theme-color-shade))}

.aurora .button {
    transition-duration: .1s;
    transform: translate3d(0,0,0)
}

.aurora.device-desktop .button:not(.active-state):not(.no-hover):hover {
    background-color: var(--f7-button-hover-bg-color,rgba(var(--f7-theme-color-rgb),.07))
}

.aurora .button-fill,.aurora .button-fill-aurora {
    --f7-button-pressed-bg-color:var(--f7-button-fill-pressed-bg-color, var(--f7-theme-color-shade))}

.aurora .button-active,.aurora .button-fill,.aurora .button-fill-aurora,.aurora .button.tab-link-active {
    --f7-button-hover-bg-color:var(--f7-button-fill-hover-bg-color, var(--f7-theme-color-tint))}

:root {
    --f7-touch-ripple-black:rgba(0, 0, 0, 0.1);--f7-touch-ripple-white:rgba(255, 255, 255, 0.3);--f7-touch-ripple-color:var(--f7-touch-ripple-black)}

.theme-dark {
    --f7-touch-ripple-color:var(--f7-touch-ripple-white)}

.actions-button,.button,.checkbox,.dialog-button,.fab a,.item-link,.link,.list-button,.radio,.ripple,.speed-dial-buttons a,.tab-link {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.ripple-wave {
    left: 0;
    top: 0;
    position: absolute!important;
    border-radius: 50%;
    pointer-events: none;
    z-index: -1;
    padding: 0;
    margin: 0;
    font-size: 0;
    transform: translate3d(0px,0px,0) scale(0);
    transition-duration: 1.4s;
    background-color: var(--f7-touch-ripple-color)
}

.ripple-wave.ripple-wave-fill {
    transition-duration: .3s;
    opacity: .35
}

.ripple-wave.ripple-wave-out {
    transition-duration: .6s;
    opacity: 0
}

.button-fill .ripple-wave,.menu .ripple-wave,.picker-calendar-day .ripple-wave {
    z-index: 1
}

.checkbox .ripple-wave,.data-table .sortable-cell .ripple-wave,.radio .ripple-wave {
    z-index: 0
}

[class*=ripple-color-] {
    --f7-touch-ripple-color:var(--f7-theme-color-ripple-color)}

.f7-icons,.material-icons {
    width: 1em;
    height: 1em
}

i.icon {
    display: inline-block;
    vertical-align: middle;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    font-style: normal;
    position: relative
}

.icon-back:after,.icon-forward:after,.icon-next:after,.icon-prev:after {
    font-family: framework7-core-icons;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 20px
}

.icon[class*=color-] {
    color: var(--f7-theme-color)
}

.ios .icon-back,.ios .icon-forward,.ios .icon-next,.ios .icon-prev {
    width: 12px;
    height: 20px;
    line-height: 20px
}

.ios .icon-back:after,.ios .icon-forward:after,.ios .icon-next:after,.ios .icon-prev:after {
    line-height: inherit
}

.ios .icon-next:after,.ios .icon-prev:after {
    font-size: 16px
}

.ios .icon-back:after,.ios .icon-prev:after {
    content: 'chevron_left_ios'
}

.ios .icon-forward:after,.ios .icon-next:after {
    content: 'chevron_right_ios'
}

.md .icon-back,.md .icon-forward,.md .icon-next,.md .icon-prev {
    width: 24px;
    height: 24px
}

.md .icon-back:after,.md .icon-forward:after,.md .icon-next:after,.md .icon-prev:after {
    line-height: 1.2
}

.md .icon-back:after {
    content: 'arrow_left_md'
}

.md .icon-forward:after {
    content: 'arrow_right_md'
}

.md .icon-next:after {
    content: 'chevron_right_md'
}

.md .icon-prev:after {
    content: 'chevron_left_md'
}

.aurora .f7-icons,.aurora .material-icons {
    font-size: 18px
}

.aurora .icon-back,.aurora .icon-forward,.aurora .icon-next,.aurora .icon-prev {
    width: 9px;
    height: 14px;
    line-height: 14px
}

.aurora .icon-back:after,.aurora .icon-forward:after,.aurora .icon-next:after,.aurora .icon-prev:after {
    line-height: inherit
}

.aurora .icon-back:after,.aurora .icon-prev:after {
    content: 'chevron_left_aurora'
}

.aurora .icon-forward:after,.aurora .icon-next:after {
    content: 'chevron_right_aurora'
}

.custom-modal-backdrop {
    z-index: 10500
}

.actions-backdrop,.custom-modal-backdrop,.dialog-backdrop,.popover-backdrop,.popup-backdrop,.preloader-backdrop,.sheet-backdrop {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    z-index: 13000;
    visibility: hidden;
    opacity: 0;
    transition-duration: .4s
}

.actions-backdrop.not-animated,.custom-modal-backdrop.not-animated,.dialog-backdrop.not-animated,.popover-backdrop.not-animated,.popup-backdrop.not-animated,.preloader-backdrop.not-animated,.sheet-backdrop.not-animated {
    transition-duration: 0s
}

.actions-backdrop.backdrop-in,.custom-modal-backdrop.backdrop-in,.dialog-backdrop.backdrop-in,.popover-backdrop.backdrop-in,.popup-backdrop.backdrop-in,.preloader-backdrop.backdrop-in,.sheet-backdrop.backdrop-in {
    visibility: visible;
    opacity: 1
}

:root {
    --f7-appbar-shadow-image:none}

.ios {
    --f7-appbar-height:44px;--f7-appbar-inner-padding-left:8px;--f7-appbar-inner-padding-right:8px}

.md {
    --f7-appbar-height:48px;--f7-appbar-inner-padding-left:16px;--f7-appbar-inner-padding-right:16px}

.aurora {
    --f7-appbar-height:38px;--f7-appbar-inner-padding-left:16px;--f7-appbar-inner-padding-right:16px}

.appbar {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 500;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-sizing: border-box;
    margin: 0;
    transform: translate3d(0,0,0);
    height: calc(var(--f7-appbar-height) + var(--f7-safe-area-top));
    background-image: var(--f7-appbar-bg-image,var(--f7-bars-bg-image));
    background-color: var(--f7-appbar-bg-color,var(--f7-bars-bg-color));
    color: var(--f7-appbar-text-color,var(--f7-bars-text-color));
    font-size: var(--f7-appbar-font-size);
    z-index: 7000
}

@supports ((-webkit-backdrop-filter:blur(20px)) or (backdrop-filter:blur(20px))) {
    .ios-translucent-bars .appbar {
        background-color: rgba(var(--f7-appbar-bg-color-rgb,var(--f7-bars-bg-color-rgb)),var(--f7-bars-translucent-opacity));
        -webkit-backdrop-filter: saturate(180%) blur(var(--f7-bars-translucent-blur));
        backdrop-filter: saturate(180%) blur(var(--f7-bars-translucent-blur))
    }
}

.appbar .panel~.appbar {
    z-index: 5500
}

.appbar a {
    color: var(--f7-appbar-link-color,var(--f7-bars-link-color,var(--f7-theme-color)))
}

.appbar a.link {
    display: flex;
    justify-content: flex-start;
    line-height: var(--f7-appbar-link-line-height,var(--f7-appbar-height));
    height: var(--f7-appbar-link-height,var(--f7-appbar-height))
}

.appbar .center,.appbar .left,.appbar .right {
    display: flex;
    align-items: center
}

.appbar.no-border:after,.appbar.no-hairline:after {
    display: none!important
}

.appbar.no-border .title-large:after,.appbar.no-hairline .title-large:after {
    display: none!important
}

.appbar.no-shadow:before {
    display: none!important
}

.appbar:after,.appbar:before {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.appbar:after {
    content: '';
    position: absolute;
    background-color: var(--f7-appbar-border-color,var(--f7-bars-border-color));
    display: block;
    z-index: 15;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    transform-origin: 50% 100%;
    transform: scaleY(calc(1 / var(--f7-device-pixel-ratio)))
}

.appbar:before {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    top: 100%;
    bottom: auto;
    height: 8px;
    pointer-events: none;
    background: var(--f7-appbar-shadow-image)
}

.appbar:after {
    z-index: 1
}

.appbar~* {
    --f7-appbar-app-offset:calc(var(--f7-appbar-height) + var(--f7-appbar-extra-offset, 0px) + var(--f7-safe-area-top))}

.appbar~.appbar,.appbar~.view,.appbar~.views {
    --f7-safe-area-top:0px}

.appbar~.panel .page,.appbar~.panel .page-content,.appbar~.panel .view {
    --f7-safe-area-top:0px}

.appbar-inner {
    position: absolute;
    left: 0;
    top: var(--f7-safe-area-top);
    width: 100%;
    height: var(--f7-appbar-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 calc(var(--f7-appbar-inner-padding-right) + var(--f7-safe-area-right)) 0 calc(var(--f7-appbar-inner-padding-left) + var(--f7-safe-area-left))
}

.appbar-inner.stacked {
    display: none
}

:root {
    --f7-dialog-button-text-color:var(--f7-theme-color);--f7-dialog-button-text-align:center;--f7-dialog-input-bg-color:#fff}

:root .theme-dark,:root.theme-dark {
    --f7-dialog-text-color:#fff}

.ios {
    --f7-dialog-box-shadow:none;--f7-dialog-width:270px;--f7-dialog-inner-padding:16px;--f7-dialog-border-radius:13px;--f7-dialog-text-align:center;--f7-dialog-font-size:14px;--f7-dialog-title-text-color:inherit;--f7-dialog-title-font-size:18px;--f7-dialog-title-font-weight:600;--f7-dialog-title-line-height:inherit;--f7-dialog-button-font-size:17px;--f7-dialog-button-height:44px;--f7-dialog-button-letter-spacing:0;--f7-dialog-button-font-weight:400;--f7-dialog-button-text-transform:none;--f7-dialog-input-border-radius:4px;--f7-dialog-input-font-size:14px;--f7-dialog-input-height:32px;--f7-dialog-input-border-width:1px;--f7-dialog-input-placeholder-color:#a9a9a9;--f7-dialog-preloader-size:34px;--f7-dialog-bg-color:rgba(255, 255, 255, 0.95);--f7-dialog-bg-color-rgb:255,255,255;--f7-dialog-text-color:#000;--f7-dialog-button-pressed-bg-color:rgba(0, 0, 0, 0.1);--f7-dialog-input-border-color:rgba(0, 0, 0, 0.3);--f7-dialog-border-divider-color:rgba(0, 0, 0, 0.2)}

.ios .theme-dark,.ios.theme-dark {
    --f7-dialog-bg-color:rgba(45, 45, 45, 0.95);--f7-dialog-bg-color-rgb:45,45,45;--f7-dialog-button-pressed-bg-color:rgba(0, 0, 0, 0.2);--f7-dialog-border-divider-color:rgba(255, 255, 255, 0.15);--f7-dialog-input-border-color:rgba(255, 255, 255, 0.15);--f7-dialog-input-bg-color:rgba(0, 0, 0, 0.5)}

.md {
    --f7-dialog-box-shadow:var(--f7-elevation-24);--f7-dialog-width:280px;--f7-dialog-inner-padding:24px;--f7-dialog-border-radius:4px;--f7-dialog-text-align:left;--f7-dialog-font-size:16px;--f7-dialog-title-font-size:20px;--f7-dialog-title-font-weight:500;--f7-dialog-title-line-height:1.3;--f7-dialog-button-font-size:14px;--f7-dialog-button-height:36px;--f7-dialog-button-letter-spacing:0.03em;--f7-dialog-button-font-weight:500;--f7-dialog-button-text-transform:uppercase;--f7-dialog-input-border-radius:0px;--f7-dialog-input-font-size:16px;--f7-dialog-input-height:36px;--f7-dialog-input-border-color:transparent;--f7-dialog-input-border-width:0px;--f7-dialog-preloader-size:32px;--f7-dialog-bg-color:#fff;--f7-dialog-text-color:rgba(0, 0, 0, 0.54);--f7-dialog-title-text-color:#212121;--f7-dialog-button-pressed-bg-color:rgba(0, 0, 0, 0.1);--f7-dialog-input-placeholder-color:rgba(0, 0, 0, 0.35)}

.md .theme-dark,.md.theme-dark {
    --f7-dialog-bg-color:#1c1c1d;--f7-dialog-title-text-color:#fff;--f7-dialog-button-pressed-bg-color:rgba(255, 255, 255, 0.1);--f7-dialog-input-bg-color:transparent;--f7-dialog-input-placeholder-color:rgba(255, 255, 255, 0.54)}

.aurora {
    --f7-dialog-box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.15),0 25px 30px 0 rgba(0,0,0,0.35);--f7-dialog-width:300px;--f7-dialog-inner-padding:20px;--f7-dialog-border-radius:4px;--f7-dialog-text-align:left;--f7-dialog-font-size:14px;--f7-dialog-title-font-size:14px;--f7-dialog-title-font-weight:700;--f7-dialog-title-line-height:inherit;--f7-dialog-button-font-size:13px;--f7-dialog-button-height:28px;--f7-dialog-button-letter-spacing:0;--f7-dialog-button-font-weight:500;--f7-dialog-button-text-transform:none;--f7-dialog-input-border-radius:4px;--f7-dialog-input-font-size:13px;--f7-dialog-input-height:24px;--f7-dialog-input-border-width:1px;--f7-dialog-preloader-size:24px;--f7-dialog-bg-color:#fff;--f7-dialog-title-text-color:inherit;--f7-dialog-text-color:#000;--f7-dialog-button-text-color:#fff;--f7-dialog-input-border-color:rgba(0, 0, 0, 0.12);--f7-dialog-input-placeholder-color:rgba(0, 0, 0, 0.32)}

.aurora .theme-dark,.aurora.theme-dark {
    --f7-dialog-bg-color:#1c1c1d;--f7-dialog-title-text-color:#fff;--f7-dialog-input-bg-color:rgba(0, 0, 0, 0.25);--f7-dialog-input-placeholder-color:rgba(255, 255, 255, 0.54);--f7-dialog-input-border-color:rgba(255, 255, 255, 0.15)}

.dialog {
    position: absolute;
    z-index: 13500;
    left: 50%;
    margin-top: 0;
    top: 50%;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(0,-50%,0) scale(1.185);
    transition-property: transform,opacity;
    display: none;
    transition-duration: .4s;
    box-shadow: var(--f7-dialog-box-shadow);
    width: var(--f7-dialog-width);
    margin-left: calc(-1 * var(--f7-dialog-width)/ 2);
    border-radius: var(--f7-dialog-border-radius);
    text-align: var(--f7-dialog-text-align);
    color: var(--f7-dialog-text-color);
    font-size: var(--f7-dialog-font-size);
    background: var(--f7-dialog-bg-color)
}

@supports ((-webkit-backdrop-filter:blur(20px)) or (backdrop-filter:blur(20px))) {
    .ios-translucent-modals .dialog {
        background-color: rgba(var(--f7-dialog-bg-color-rgb),.8);
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px)
    }
}

.dialog.modal-in {
    opacity: 1;
    transform: translate3d(0,-50%,0) scale(1)
}

.dialog.modal-out {
    opacity: 0;
    z-index: 13499
}

.dialog.not-animated {
    transition-duration: 0s
}

.dialog-inner {
    position: relative;
    padding: var(--f7-dialog-inner-padding)
}

.dialog-title {
    color: var(--f7-dialog-title-text-color);
    font-size: var(--f7-dialog-title-font-size);
    font-weight: var(--f7-dialog-title-font-weight);
    line-height: var(--f7-dialog-title-line-height)
}

.dialog-buttons {
    position: relative;
    display: flex
}

.dialog-buttons-vertical .dialog-buttons {
    display: block;
    height: auto!important
}

.dialog-button {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--f7-dialog-button-text-color);
    font-size: var(--f7-dialog-button-font-size);
    height: var(--f7-dialog-button-height);
    line-height: var(--f7-dialog-button-height);
    letter-spacing: var(--f7-dialog-button-letter-spacing);
    text-align: var(--f7-dialog-button-text-align);
    font-weight: var(--f7-dialog-button-font-weight);
    text-transform: var(--f7-dialog-button-text-transform);
    display: block;
    cursor: pointer
}

.dialog-button.active-state {
    background-color: var(--f7-dialog-button-pressed-bg-color)
}

.dialog-no-buttons .dialog-buttons {
    display: none
}

.dialog-input-field {
    position: relative
}

input.dialog-input[type] {
    box-sizing: border-box;
    margin: 0;
    margin-top: 15px;
    border-radius: var(--f7-dialog-input-border-radius);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    display: block;
    font-family: inherit;
    box-shadow: none;
    font-size: var(--f7-dialog-input-font-size);
    height: var(--f7-dialog-input-height);
    background-color: var(--f7-dialog-input-bg-color);
    border: var(--f7-dialog-input-border-width) solid var(--f7-dialog-input-border-color)
}

input.dialog-input[type]::-webkit-input-placeholder {
    color: var(--f7-dialog-input-placeholder-color)
}

input.dialog-input[type]::placeholder {
    color: var(--f7-dialog-input-placeholder-color)
}

.dialog-input-double input.dialog-input {
    border-radius: var(--f7-dialog-input-border-radius) var(--f7-dialog-input-border-radius) 0 0
}

.dialog-input-double+.dialog-input-double input.dialog-input {
    border-radius: 0 0 var(--f7-dialog-input-border-radius) var(--f7-dialog-input-border-radius)
}

.dialog-preloader .preloader {
    --f7-preloader-size:var(--f7-dialog-preloader-size)}

html.with-modal-dialog .page-content {
    overflow: hidden;
    -webkit-overflow-scrolling: auto
}

.ios .dialog.modal-out {
    transform: translate3d(0,-50%,0) scale(1)
}

.ios .dialog-inner {
    border-radius: var(--f7-dialog-border-radius) var(--f7-dialog-border-radius) 0 0
}

.ios .dialog-inner:after {
    content: '';
    position: absolute;
    background-color: var(--f7-dialog-border-divider-color);
    display: block;
    z-index: 15;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    transform-origin: 50% 100%;
    transform: scaleY(calc(1 / var(--f7-device-pixel-ratio)))
}

.ios .dialog-title+.dialog-text {
    margin-top: 5px
}

.ios .dialog-buttons {
    height: 44px;
    justify-content: center
}

.ios .dialog-button {
    width: 100%;
    padding: 0 5px;
    -webkit-box-flex: 1;
    -ms-flex: 1
}

.ios .dialog-button:after {
    content: '';
    position: absolute;
    background-color: var(--f7-dialog-border-divider-color);
    display: block;
    z-index: 15;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    width: 1px;
    height: 100%;
    transform-origin: 100% 50%;
    transform: scaleX(calc(1 / var(--f7-device-pixel-ratio)))
}

.ios .dialog-button:first-child {
    border-radius: 0 0 0 var(--f7-dialog-border-radius)
}

.ios .dialog-button:last-child {
    border-radius: 0 0 var(--f7-dialog-border-radius) 0
}

.ios .dialog-button:last-child:after {
    display: none!important
}

.ios .dialog-button:first-child:last-child {
    border-radius: 0 0 var(--f7-dialog-border-radius) var(--f7-dialog-border-radius)
}

.ios .dialog-button.dialog-button-bold {
    font-weight: 500
}

.ios .dialog-button[class*=color-] {
    --f7-dialog-button-text-color:var(--f7-theme-color)}

.ios .dialog-buttons-vertical .dialog-buttons {
    height: auto
}

.ios .dialog-buttons-vertical .dialog-button {
    border-radius: 0
}

.ios .dialog-buttons-vertical .dialog-button:after {
    content: '';
    position: absolute;
    background-color: var(--f7-dialog-border-divider-color);
    display: block;
    z-index: 15;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    transform-origin: 50% 100%;
    transform: scaleY(calc(1 / var(--f7-device-pixel-ratio)))
}

.ios .dialog-buttons-vertical .dialog-button:last-child {
    border-radius: 0 0 var(--f7-dialog-border-radius) var(--f7-dialog-border-radius)
}

.ios .dialog-buttons-vertical .dialog-button:last-child:after {
    display: none!important
}

.ios .dialog-no-buttons .dialog-inner {
    border-radius: var(--f7-dialog-border-radius)
}

.ios .dialog-no-buttons .dialog-inner:after {
    display: none!important
}

.ios .dialog-input-field {
    margin-top: 15px
}

.ios .dialog-input {
    padding: 0 5px
}

.ios .dialog-input+.dialog-input {
    margin-top: 5px
}

.ios .dialog-input-double+.dialog-input-double {
    margin-top: 0
}

.ios .dialog-input-double+.dialog-input-double .dialog-input {
    border-top: 0;
    margin-top: 0
}

.ios .dialog-preloader .dialog-text~.preloader,.ios .dialog-preloader .dialog-title~.preloader {
    margin-top: 15px
}

.ios .dialog-progress .dialog-text~.progressbar,.ios .dialog-progress .dialog-text~.progressbar-infinite,.ios .dialog-progress .dialog-title~.progressbar,.ios .dialog-progress .dialog-title~.progressbar-infinite {
    margin-top: 15px
}

.md .dialog.modal-out {
    transform: translate3d(0,-50%,0) scale(.815)
}

.md .dialog-title+.dialog-text {
    margin-top: 20px
}

.md .dialog-text {
    line-height: 1.5
}

.md .dialog-buttons {
    height: 48px;
    padding: 6px 8px;
    overflow: hidden;
    box-sizing: border-box;
    justify-content: flex-end
}

.md .dialog-button {
    border-radius: 4px;
    min-width: 64px;
    padding: 0 8px;
    border: none;
    transition-duration: .3s;
    transform: translate3d(0,0,0)
}

.md .dialog-button.dialog-button-bold {
    font-weight: 700
}

.md .dialog-button+.dialog-button {
    margin-left: 4px
}

.md .dialog-button[class*=color-] {
    --f7-dialog-button-text-color:var(--f7-theme-color)}

.md .dialog-buttons-vertical .dialog-buttons {
    padding: 0 0 8px 0
}

.md .dialog-buttons-vertical .dialog-button {
    margin-left: 0;
    text-align: right;
    height: 48px;
    line-height: 48px;
    border-radius: 0;
    padding-left: 16px;
    padding-right: 16px
}

.md .dialog-input {
    padding: 0;
    transition-duration: .2s;
    position: relative
}

.md .dialog-input+.dialog-input {
    margin-top: 16px
}

.md .dialog-preloader .dialog-inner,.md .dialog-preloader .dialog-title,.md .dialog-progress .dialog-inner,.md .dialog-progress .dialog-title {
    text-align: center
}

.md .dialog-preloader .dialog-text~.preloader,.md .dialog-preloader .dialog-title~.preloader {
    margin-top: 20px
}

.md .dialog-progress .dialog-text~.progressbar,.md .dialog-progress .dialog-text~.progressbar-infinite,.md .dialog-progress .dialog-title~.progressbar,.md .dialog-progress .dialog-title~.progressbar-infinite {
    margin-top: 16px
}

.aurora .dialog.modal-out {
    transform: translate3d(0,-50%,0) scale(.815)
}

.aurora .dialog-title+.dialog-text {
    margin-top: 10px
}

.aurora .dialog-text {
    line-height: 1.5
}

.aurora .dialog-buttons {
    padding: var(--f7-dialog-inner-padding);
    padding-top: 0;
    overflow: hidden;
    box-sizing: border-box;
    justify-content: flex-end
}

.aurora .dialog-button {
    border-radius: 4px;
    min-width: 64px;
    padding: 0 10px;
    border: none;
    transition-duration: .3s;
    transform: translate3d(0,0,0);
    background: var(--f7-theme-color)
}

.aurora .dialog-button.dialog-button-bold {
    font-weight: 600
}

.aurora .dialog-button+.dialog-button {
    margin-left: 16px
}

.aurora .dialog-buttons-vertical .dialog-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.aurora .dialog-buttons-vertical .dialog-button {
    margin-left: 0;
    flex-shrink: 0
}

.aurora .dialog-buttons-vertical .dialog-button+.dialog-button {
    margin-top: 5px
}

.aurora .dialog-input-field {
    margin-top: 10px
}

.aurora .dialog-input-field input.dialog-input {
    margin-top: 0
}

.aurora .dialog-input {
    padding: 0 4px;
    transition-duration: .2s;
    position: relative
}

.aurora .dialog-input+.dialog-input {
    margin-top: 10px
}

.aurora .dialog-input-double+.dialog-input-double {
    margin-top: 0
}

.aurora .dialog-input-double+.dialog-input-double .dialog-input {
    border-top: 0;
    margin-top: 0
}

.aurora .dialog-preloader .dialog-inner,.aurora .dialog-preloader .dialog-title,.aurora .dialog-progress .dialog-inner,.aurora .dialog-progress .dialog-title {
    text-align: center
}

.aurora .dialog-preloader .dialog-text~.preloader,.aurora .dialog-preloader .dialog-title~.preloader {
    margin-top: 10px
}

.aurora .dialog-progress .dialog-text~.progressbar,.aurora .dialog-progress .dialog-text~.progressbar-infinite,.aurora .dialog-progress .dialog-title~.progressbar,.aurora .dialog-progress .dialog-title~.progressbar-infinite {
    margin-top: 15px
}

:root {
    --f7-popup-border-radius:0px;--f7-popup-tablet-width:630px;--f7-popup-tablet-height:630px;--f7-popup-transition-duration:400ms;--f7-popup-push-border-radius:10px;--f7-popup-push-offset:var(--f7-safe-area-top)}

.ios {
    --f7-popup-box-shadow:none}

.md {
    --f7-popup-box-shadow:0px 20px 44px rgba(0, 0, 0, 0.5)}

.aurora {
    --f7-popup-tablet-border-radius:4px;--f7-popup-box-shadow:0px 20px 44px rgba(0, 0, 0, 0.5)}

.popup-backdrop {
    z-index: 10500
}

.popup {
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    display: none;
    box-sizing: border-box;
    transition-property: transform;
    transform: translate3d(0,100%,0);
    background: #fff;
    z-index: 11000;
    overflow: hidden;
    border-radius: var(--f7-popup-border-radius)
}

.popup.modal-in,.popup.modal-out {
    transition-duration: var(--f7-popup-transition-duration)
}

.popup.not-animated {
    transition-duration: 0s
}

.popup.modal-in {
    display: block;
    transform: translate3d(0,0,0)
}

.popup.modal-out {
    transform: translate3d(0,100%,0)
}

.popup.swipe-close-to-top.modal-out {
    transform: translate3d(0,-100%,0)
}

@media (min-width: 630px) and (min-height:630px) {
    .popup:not(.popup-tablet-fullscreen) {
        --f7-safe-area-top:0px;
        width: var(--f7-popup-tablet-width);
        height: var(--f7-popup-tablet-height);
        left: 50%;
        top: 50%;
        margin-left: calc(-1 * var(--f7-popup-tablet-width)/ 2);
        margin-top: calc(-1 * var(--f7-popup-tablet-height)/ 2);
        transform: translate3d(0,100vh,0);
        box-shadow: var(--f7-popup-box-shadow);
        border-radius: var(--f7-popup-tablet-border-radius,var(--f7-popup-border-radius))
    }

    .popup:not(.popup-tablet-fullscreen).modal-in {
        transform: translate3d(0,0,0)
    }

    .popup:not(.popup-tablet-fullscreen).modal-out {
        transform: translate3d(0,100vh,0)
    }

    .popup:not(.popup-tablet-fullscreen).swipe-close-to-top.modal-out {
        transform: translate3d(0,-100vh,0)
    }
}

html.with-modal-popup .framework7-root>.panel .page-content,html.with-modal-popup .framework7-root>.view .page-content,html.with-modal-popup .framework7-root>.views .page-content {
    overflow: hidden;
    -webkit-overflow-scrolling: auto
}

html.with-modal-popup-push .popup-push,html.with-modal-popup-push-closing .popup-push {
    top: calc(var(--f7-popup-push-offset) + 10px);
    height: calc(100% - var(--f7-popup-push-offset) - 10px);
    border-radius: var(--f7-popup-push-border-radius) var(--f7-popup-push-border-radius) 0 0
}

html.with-modal-popup-push .popup-push .page,html.with-modal-popup-push .popup-push .view,html.with-modal-popup-push-closing .popup-push .page,html.with-modal-popup-push-closing .popup-push .view {
    --f7-safe-area-top:0px}

html.with-modal-popup-push .framework7-root,html.with-modal-popup-push-closing .framework7-root {
    background: #000
}

html.with-modal-popup-push .framework7-root>.view,html.with-modal-popup-push .framework7-root>.views,html.with-modal-popup-push-closing .framework7-root>.view,html.with-modal-popup-push-closing .framework7-root>.views {
    transition-duration: var(--f7-popup-transition-duration)
}

html.with-modal-popup-push .framework7-root>.view,html.with-modal-popup-push .framework7-root>.views {
    border-radius: var(--f7-popup-push-border-radius) var(--f7-popup-push-border-radius) 0 0;
    transform: translate3d(0,0,0px) scale(var(--f7-popup-push-scale,1))
}

:root {
    --f7-login-screen-blocks-max-width:480px;--f7-login-screen-title-text-align:center;--f7-login-screen-title-text-color:inherit;--f7-login-screen-title-letter-spacing:0;--f7-login-screen-title-font-weight:600;--f7-login-screen-title-font-size:28px;--f7-login-screen-content-bg-color:#fff;--f7-login-screen-bg-color:#fff}

:root .theme-dark,:root.theme-dark {
    --f7-login-screen-bg-color:#121212;--f7-login-screen-content-bg-color:transparent}

.ios {
    --f7-login-screen-blocks-margin-vertical:25px}

.ios .theme-dark,.ios.theme-dark {
    --f7-login-screen-bg-color:#000}

.md {
    --f7-login-screen-blocks-margin-vertical:24px}

.aurora {
    --f7-login-screen-blocks-margin-vertical:15px}

.login-screen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    box-sizing: border-box;
    transition-property: transform;
    transform: translate3d(0,100%,0);
    background: var(--f7-login-screen-bg-color);
    z-index: 11000
}

.login-screen.modal-in,.login-screen.modal-out {
    transition-duration: .4s
}

.login-screen.not-animated {
    transition-duration: 0s
}

.login-screen.modal-in {
    display: block;
    transform: translate3d(0,0,0)
}

.login-screen.modal-out {
    transform: translate3d(0,100%,0)
}

.login-screen .page,.login-screen-content,.login-screen-page {
    background: var(--f7-login-screen-content-bg-color)
}

.login-screen-content .list-button,.login-screen-page .list-button {
    text-align: center;
    color: var(--f7-login-screen-list-button-text-color,var(--f7-theme-color))
}

.login-screen-content .block,.login-screen-content .list,.login-screen-content .login-screen-title,.login-screen-page .block,.login-screen-page .list,.login-screen-page .login-screen-title {
    margin: var(--f7-login-screen-blocks-margin-vertical) auto
}

.login-screen-content .block,.login-screen-content .block-footer,.login-screen-content .block-header,.login-screen-content .list,.login-screen-content .login-screen-title,.login-screen-page .block,.login-screen-page .block-footer,.login-screen-page .block-header,.login-screen-page .list,.login-screen-page .login-screen-title {
    max-width: var(--f7-login-screen-blocks-max-width)
}

.login-screen-content .list ul,.login-screen-page .list ul {
    background: 0 0
}

.login-screen-content .list ul:after,.login-screen-content .list ul:before,.login-screen-page .list ul:after,.login-screen-page .list ul:before {
    display: none!important
}

.login-screen-content .block-footer,.login-screen-content .block-header,.login-screen-page .block-footer,.login-screen-page .block-header {
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

.login-screen-title {
    text-align: var(--f7-login-screen-title-text-align);
    font-size: var(--f7-login-screen-title-font-size);
    font-weight: var(--f7-login-screen-title-font-weight);
    color: var(--f7-login-screen-title-text-color);
    letter-spacing: var(--f7-login-screen-title-letter-spacing)
}


article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

body {
    line-height: 1
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.app,.content,.tabs-link,input,textarea,select,button,label,.form-row,.form-text-label,.button,.alert-button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.top-bar-link.icon-only,.pagination-link,.menu-top-list-item {
    font: 0/0 a;
    text-shadow: none;
    color: transparent !important
}

@font-face {
    font-family: 'elegant-icons';
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/elegant-icons.woff") format("woff"),url("../fonts/elegant-icons.ttf") format("truetype")
}

.top-bar-link:before,.bottom-bar-link:before,.search-bar:before,.menu-top-list-item:before,.list-link:after,.list-messsage-title:after,.form-select-row:after,.menu-nav-link:before,.list-row:after,.form-option-label:before,.form-row.valid:after,.form-row.invalid:after,.button:before,.action-sheet-icon-link:before {
    font-family: 'elegant-icons' !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.top-bar-link:before,.bottom-bar-link:before,.search-bar:before,.menu-top-list-item:before,.list-link:after,.list-messsage-title:after,.form-select-row:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    text-align: center
}

body {
    font: normal 16px/1.5 "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    color: #000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden !important;
    /* overflow: hidden !important; */
    -webkit-touch-callout: none;
}

a {
    color: #2087fc;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}


.app {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #efeff4
}

.content {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #efeff4;
    background-clip: padding-box;
    -webkit-overflow-scrolling: touch
}

.top-bar {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    height: 43px;
    line-height: 43px;
    font-size: 18px;
    background: #f8f8f8;
    border-bottom: 1px solid #c8c8c8;
    box-shadow: 0 1px 1px rgba(0,0,0,0.04)
}

.top-bar ~ .content {
    border-top: 44px solid transparent
}

.top-bar>.tabs {
    margin-top: 7px;
    padding: 0 7px
}

.top-bar>.left {
    float: left
}

.top-bar>.right {
    float: right
}

.top-bar-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    line-height: inherit;
    font-weight: 500;
    text-align: center
}

.top-bar-link {
    position: relative;
    z-index: 1;
    padding: 0 10px
}

.top-bar-link:before {
    left: 0;
    font-size: 26px;
    color: #2087fc
}

.top-bar-link.disabled,.top-bar-link.disabled:before {
    color: #b7d8fe
}

.top-bar-link.icon-only {
    padding: 0;
    width: 44px;
    height: 100%
}

.top-bar-link.icon-only:before {
    right: 0
}

.top-bar-link.icon-menu:before {
    content: "\63"
}

.top-bar-link.icon-group:before {
    content: "\e08c"
}

.top-bar-link.icon-plus:before {
    content: "\50"
}

.top-bar-link.icon-up,.top-bar-link.icon-down {
    width: 34px;
    margin-right: 6px
}

.top-bar-link.icon-up+.icon-down {
    margin-right: 0
}

.top-bar-link.icon-up:before {
    content: "\32";
    font-size: 32px
}

.top-bar-link.icon-down:before {
    content: "\33";
    font-size: 32px
}

.top-bar-link.icon-back {
    padding-left: 27px
}

.top-bar-link.icon-back:before {
    content: "\34";
    margin: -22px 0 0 -8px;
    font-size: 43px
}

.top-bar-link.icon-next {
    padding-right: 27px
}

.top-bar-link.icon-next:before {
    content: "\35";
    left: auto;
    right: 0;
    margin: -22px -6px 0 0;
    font-size: 43px
}

.top-bar-dark {
    color: white;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background: #42ad4a;
    border-color: #34883a;
    background-image: -webkit-linear-gradient(top, #46b84f,#36a03e);
    background-image: -moz-linear-gradient(top, #46b84f,#36a03e);
    background-image: -o-linear-gradient(top, #46b84f,#36a03e);
    background-image: linear-gradient(to bottom, #46b84f,#36a03e)
}

.top-bar-dark>.top-bar-link,.top-bar-dark>.top-bar-link:before {
    color: white
}

.top-bar-dark .tabs-link {
    color: #183e1b;
    background: none;
    border-color: #26632a;
    box-shadow: none
}

.top-bar-dark .tabs-link.active {
    background: #26632a;
    border-color: #26632a;
    box-shadow: none
}

.top-bar-sub {
    position: absolute;
    z-index: 5;
    top: 43px;
    left: 0;
    right: 0;
    height: 39px;
    background: #f8f8f8;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid #c8c8c8;
    box-shadow: 0 1px 1px rgba(0,0,0,0.04)
}

.top-bar-sub ~ .content {
    border-top: 84px solid transparent
}

.top-bar-sub.tabs {
    height: 39px;
    padding: 0 10px
}

.top-bar-sub-dark {
    color: #c3c3c3;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    border-top-color: #42ad4a;
    border-bottom-color: #111;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
    background-image: -webkit-linear-gradient(top, #575756,#404040);
    background-image: -moz-linear-gradient(top, #575756,#404040);
    background-image: -o-linear-gradient(top, #575756,#404040);
    background-image: linear-gradient(to bottom, #575756,#404040)
}

.top-bar-sub-dark.tabs {
    padding: 0;
    line-height: 39px
}

.top-bar-sub-dark>.tabs-link {
    font-size: 14px;
    font-weight: 500;
    color: #d1d1d1;
    border: 0;
    border-radius: 0;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.05)
}

.top-bar-sub-dark>.tabs-link+.tabs-link {
    border-left: 1px solid rgba(0,0,0,0.35)
}

.top-bar-sub-dark>.tabs-link.active {
    color: white;
    background: #3f3f3f;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.4)
}

.top-bar-sub-dark .tabs-counter {
    top: 3px;
    right: 3px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1)
}

.bottom-bar {
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    right: 0;
    height: 48px;
    line-height: 48px;
    background: #f8f8f8;
    border-top: 1px solid #c8c8c8
}

.bottom-bar ~ .content {
    border-bottom: 49px solid transparent
}

.bottom-bar-link {
    position: relative;
    float: left;
    padding-top: 30px;
    line-height: 18px;
    font-size: 11px;
    color: #7c7b83;
    text-align: center
}

.bottom-bar-link.active {
    color: #2087fc
}

.bottom-bar-two>.bottom-bar-link {
    width: 50%
}

.bottom-bar-three>.bottom-bar-link {
    width: 33%
}

.bottom-bar-three>.bottom-bar-link:nth-child(2) {
    width: 34%
}

.bottom-bar-four>.bottom-bar-link {
    width: 25%
}

.bottom-bar-five>.bottom-bar-link {
    width: 20%
}

.bottom-bar-link:before {
    left: 0;
    right: 0;
    margin-top: -19px;
    font-size: 24px
}

.bottom-bar-link.icon-folder:before {
    content: "\6d";
    margin-top: -20px
}

.bottom-bar-link.icon-home:before {
    content: "\e009";
    margin-top: -20px
}

.bottom-bar-link.icon-list:before {
    content: "\62"
}

.bottom-bar-link.icon-menu:before {
    content: "\e01f"
}

.bottom-bar-link.icon-alt:before {
    content: "\e00a"
}

.bottom-bar-counter {
    position: absolute;
    z-index: 1;
    top: 2px;
    right: 50%;
    margin-right: -32px;
    padding: 0 4px;
    line-height: 17px;
    font-size: 13px;
    color: white;
    background: #2087fc;
    border-radius: 2px
}

.bottom-bar-counter.important {
    min-width: 9px;
    background: #fd3c31;
    border-radius: 9px;
    background-image: -webkit-linear-gradient(top, #fd4f45,#fd1f13);
    background-image: -moz-linear-gradient(top, #fd4f45,#fd1f13);
    background-image: -o-linear-gradient(top, #fd4f45,#fd1f13);
    background-image: linear-gradient(to bottom, #fd4f45,#fd1f13)
}

.bottom-bar-dark {
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background: #404040;
    border-color: #404040;
    background-image: -webkit-linear-gradient(top, #4d4d4d,#333);
    background-image: -moz-linear-gradient(top, #4d4d4d,#333);
    background-image: -o-linear-gradient(top, #4d4d4d,#333);
    background-image: linear-gradient(to bottom, #4d4d4d,#333)
}

.bottom-bar-dark .bottom-bar-link {
    color: rgba(255,255,255,0.8)
}

.bottom-bar-dark .bottom-bar-link.active {
    color: white;
    background: rgba(255,255,255,0.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.1),1px 0 rgba(0,0,0,0.15),-1px 0 rgba(0,0,0,0.15);
    background-image: -webkit-linear-gradient(top, #333,#4d4d4d);
    background-image: -moz-linear-gradient(top, #333,#4d4d4d);
    background-image: -o-linear-gradient(top, #333,#4d4d4d);
    background-image: linear-gradient(to bottom, #333,#4d4d4d)
}

.bottom-bar-dark .bottom-bar-counter {
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1)
}

.search-bar {
    position: relative;
    height: 39px;
    box-shadow: 0 1px rgba(0,0,0,0.07),0 1px 1px rgba(0,0,0,0.05)
}

.search-bar:before {
    content: "\55";
    left: 12px;
    line-height: 15px;
    font-size: 16px;
    color: #a8a8af;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1)
}

.search-bar-input {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 12px 0 36px;
    font-size: 15px
}

.tabs {
    height: 29px;
    line-height: 27px;
    text-align: center
}

.tabs-link {
    position: relative;
    float: left;
    font-size: 13px;
    border: 1px solid #2087fc;
    border-right-width: 0
}

.tabs-link:first-child {
    border-radius: 4px 0 0 4px
}

.tabs-link:last-child {
    border-right-width: 1px;
    border-radius: 0 4px 4px 0
}

.tabs-two>.tabs-link {
    width: 50%
}

.tabs-three>.tabs-link {
    width: 33%
}

.tabs-three>.tabs-link:nth-child(2) {
    width: 34%
}

.tabs-four>.tabs-link {
    width: 25%
}

.tabs-link.active {
    z-index: 1;
    color: white;
    background: #2087fc;
    border-color: rgba(0,0,0,0.05);
    box-shadow: 1px 0 rgba(0,0,0,0.05)
}

.tabs-link.active:last-child {
    box-shadow: none
}

.tabs-inline>.tabs-link {
    float: none;
    display: inline-block;
    vertical-align: top;
    padding: 0 12px
}

.tabs-gray>.tabs-link {
    color: #7c7b83;
    border-color: #7c7b83
}

.tabs-gray>.active {
    color: white;
    background: #7c7b83;
    border-color: rgba(0,0,0,0.05)
}

.tabs-counter {
    position: absolute;
    z-index: 2;
    top: -6px;
    right: -6px;
    min-width: 9px;
    padding: 0 4px;
    line-height: 17px;
    font-size: 13px;
    color: white;
    background: #fd3c31;
    border-radius: 9px;
    background-image: -webkit-linear-gradient(top, #fd4f45,#fd1f13);
    background-image: -moz-linear-gradient(top, #fd4f45,#fd1f13);
    background-image: -o-linear-gradient(top, #fd4f45,#fd1f13);
    background-image: linear-gradient(to bottom, #fd4f45,#fd1f13)
}

.pagination {
    text-align: center
}

.pagination-item {
    display: inline-block;
    vertical-align: top
}

.pagination-link {
    display: block;
    padding: 4px;
    width: 6px;
    height: 6px
}

.pagination-link:before {
    content: '';
    display: block;
    width: inherit;
    height: inherit;
    border-radius: 3px;
    background: #a7a7aa;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1),0 0 0 1px rgba(255,255,255,0.3)
}

.pagination-link.active:before {
    background: black
}

.menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background: #64a4e1;
    background-image: -webkit-linear-gradient(top left, #64a4e1,#2ccd8a);
    background-image: -moz-linear-gradient(top left, #64a4e1,#2ccd8a);
    background-image: -o-linear-gradient(top left, #64a4e1,#2ccd8a);
    background-image: linear-gradient(to bottom right, #64a4e1,#2ccd8a)
}

.menu ~ .app {
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transition-property: margin,transform;
    -moz-transition-property: margin,transform;
    -o-transition-property: margin,transform;
    transition-property: margin,transform
}

.menu.in ~ .app {
    margin-left: 20%;
    border-radius: 3px 0 0 3px;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8)
}

.menu.in ~ .app>.top-bar {
    border-top-left-radius: 3px
}

.menu.in ~ .app>.bottom-bar {
    border-bottom-left-radius: 3px
}

.menu-nav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 30%;
    margin-top: -163px
}

.menu-nav-link {
    position: relative;
    display: block;
    margin-bottom: 10px;
    padding: 48px 0 2px;
    line-height: 24px;
    font-size: 14px;
    color: white;
    text-align: center
}

.menu-nav-link.active {
    background: rgba(255,255,255,0.2)
}

.menu-nav-link:before {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    font-size: 32px
}

.menu-nav-link.icon-cog:before {
    content: "\e038"
}

.menu-nav-link.icon-files:before {
    content: "\69"
}

.menu-nav-link.icon-inbox:before {
    content: "\e020"
}

.menu-nav-link.icon-task:before {
    content: "\5a"
}

.menu-top {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background: #42c0ee;
    background-image: -webkit-radial-gradient(top left,cover,#42c0ee,#6e5dc9);
    background-image: -moz-radial-gradient(top left,cover,#42c0ee,#6e5dc9);
    background-image: -o-radial-gradient(top left,cover,#42c0ee,#6e5dc9);
    background-image: radial-gradient(top left,cover,#42c0ee,#6e5dc9)
}

.menu-top ~ .app {
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transition-property: margin,transform;
    -moz-transition-property: margin,transform;
    -o-transition-property: margin,transform;
    transition-property: margin,transform
}

.menu-top.in ~ .app {
    margin-top: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.4),0 0 0 1px rgba(0,0,0,0.1);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8)
}

.menu-top.in ~ .app,.menu-top.in ~ .app>.top-bar {
    border-radius: 3px 3px 0 0
}

.menu-top-title {
    margin: 15px 0 10px;
    line-height: 1;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1)
}

.menu-top-list {
    overflow: hidden;
    height: 100%
}

.menu-top-list-item {
    position: relative;
    float: left;
    width: 25%;
    height: 20%
}

.menu-top-list-item:before {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 48px;
    color: rgba(255,255,255,0.95);
    text-shadow: 0 1px 3px rgba(0,0,0,0.1)
}

.menu-top-list-item.icon-facebook:before {
    content: "\e0aa"
}

.menu-top-list-item.icon-google:before {
    content: "\e0ad"
}

.menu-top-list-item.icon-pinterest:before {
    content: "\e0ac"
}

.menu-top-list-item.icon-twitter:before {
    content: "\e0ab"
}

.list-title {
    margin: 18px 0 5px;
    padding: 0 12px;
    line-height: 24px;
    font-size: 14px;
    color: #7c7b83;
    text-transform: uppercase;
    text-shadow: 0 1px rgba(255,255,255,0.2)
}

.list-title-row,.list-contacts-title {
    position: relative;
    padding: 0 12px;
    line-height: 27px;
    font-size: 15px;
    font-weight: 500;
    background: #f5f5f5;
    border: 1px solid #e5e5eb;
    border-width: 0 0 1px;
    box-shadow: 0 -1px rgba(0,0,0,0.08)
}

.list {
    overflow: hidden;
    margin-bottom: 20px;
    padding-bottom: 1px;
    background: #fff;
    box-shadow: 0 -1px rgba(0,0,0,0.08),0 1px rgba(0,0,0,0.07),0 1px 1px rgba(0,0,0,0.05)
}

.list-row {
    position: relative;
    margin-left: 12px;
    line-height: 20px
}

.list-row+.list-row {
    border-top: 1px solid #e5e5eb
}

.list-row:after {
    position: absolute;
    z-index: 2;
    top: -1px;
    bottom: -1px;
    width: 42px;
    line-height: 42px;
    font-size: 32px;
    color: white;
    text-align: center
}

.list-row.deleting:after {
    content: "\4d";
    right: 0;
    line-height: 40px;
    background: #fd3c31
}

.list-row.checking {
    right: -42px
}

.list-row.checking:after {
    content: "\4e";
    right: 100%;
    margin-right: 12px;
    background: #46ca5e
}

.list-link {
    display: block;
    position: relative;
    margin-left: -12px;
    padding: 10px 12px;
    color: #000
}

.list-link:active {
    z-index: 1;
    color: white;
    background: #2087fc;
    box-shadow: 0 1px #2087fc,0 -1px #2087fc
}

.list-link:active:after {
    color: inherit
}

.list-link:after {
    right: 6px;
    font-size: 28px;
    color: #bbb
}

.list-link.icon-right:after {
    content: "\35"
}

.list-link.icon-move:after {
    content: "\61"
}

.list-val {
    float: right;
    color: #7c7b83;
    margin: 0 24px 0 8px
}

.list-link:active>.list-val {
    color: inherit
}

.list-boxed {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 2px;
    overflow: visible;
    background: #efeff4;
    border: 0;
    box-shadow: none
}

.list-boxed>.list-row {
    margin-left: 0
}

.list-boxed>.list-row+.list-row {
    border: 0;
    margin-top: 8px
}

.list-boxed .list-link {
    margin-left: 0;
    background: #fff;
    border-left: 2px solid #2087fc;
    border-radius: 0 3px 3px 0;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.06),0 1px 1px rgba(0,0,0,0.07)
}

.list-boxed .list-link.green {
    border-color: #46ca5e
}

.list-boxed .list-link.red {
    border-color: #fd3c31
}

.list-boxed .list-link:active {
    background: #2087fc;
    border-color: #2087fc
}

.list-contacts-title {
    margin: 0;
    line-height: 24px;
    font-size: inherit;
    color: #000;
    background: #f5f5f5;
    border-width: 1px 0;
    box-shadow: none
}

.list-contacts-title:first-child {
    border-top-width: 0
}

.list-contacts {
    margin: 0
}

.list-messages {
    margin: 0
}

.list-message {
    margin-left: 0;
    padding: 8px 70px 8px 10px;
    line-height: 16px
}

.list-message:active {
    background: #eee
}

.list-message-img {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #5ac15b;
    border-radius: 25px;
    background-image: -webkit-linear-gradient(top left, #5ac15b 50%,#56b459 51%);
    background-image: -moz-linear-gradient(top left, #5ac15b 50%,#56b459 51%);
    background-image: -o-linear-gradient(top left, #5ac15b 50%,#56b459 51%);
    background-image: linear-gradient(to bottom right, #5ac15b 50%,#56b459 51%)
}

.list-message-img>img {
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit
}

.list-messsage-title {
    margin-bottom: 2px;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 500;
    text-overflow: ellipsis
}

.list-messsage-title:after {
    content: "\35";
    top: auto;
    bottom: 6px;
    right: 3px;
    font-size: 32px;
    color: #bbb
}

.list-message-date {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 13px;
    color: #2087fc
}

.list-message-count {
    position: absolute;
    bottom: 12px;
    right: 32px;
    padding: 1px 5px;
    font-size: 13px;
    color: white;
    background: #2087fc;
    border-radius: 2px
}

.list-message-count.important {
    min-width: 8px;
    background: #fd3c31;
    border-radius: 9px
}

.list-message-desc {
    overflow: hidden;
    height: 32px;
    font-size: 13px;
    color: #7c7b83
}

.list-message-small>.list-message-img {
    width: 25px;
    height: 25px;
    border-radius: 3px
}

.list-message-small>.list-messsage-title {
    margin-bottom: 0;
    line-height: 25px
}

.list-numbered {
    counter-reset: li
}

.list-numbered>.list-row {
    margin-left: 34px
}

.list-numbered>.list-row:before {
    content: counter(li) ".";
    counter-increment: li;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 100%;
    margin-right: 8px;
    line-height: 40px;
    color: #7c7b83
}

.list-numbered>.list-row.checking:after {
    margin-right: 34px
}

.list-numbered>.list-row:active:before {
    color: white
}

.list-numbered .list-link {
    margin-left: -34px;
    padding-left: 34px
}

input,textarea,select,button,label {
    display: inline-block;
    vertical-align: top;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

input,textarea,select,button {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-size: 16px;
    background: white;
    border: 0;
    border-radius: 0
}

input:focus,textarea:focus,select:focus,button:focus {
    outline: 0
}

textarea {
    resize: none
}

input[type="search"],input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-ms-clear {
    display: none
}

::-webkit-input-placeholder {
    color: #a8a8af
}

:-ms-input-placeholder {
    color: #a8a8af
}

::-moz-placeholder {
    color: #a8a8af;
    opacity: 1
}

::-moz-focus-inner {
    padding: 0 !important;
    border: 0 !important
}

.form-title {
    margin: 18px 0 4px;
    padding: 0 12px;
    line-height: 24px;
    font-size: 14px;
    color: #7c7b83;
    text-transform: uppercase;
    text-shadow: 0 1px rgba(255,255,255,0.2)
}

.form-title-row {
    position: relative;
    padding: 0 12px;
    line-height: 27px;
    font-size: 15px;
    font-weight: 500;
    background: #f5f5f5;
    border-bottom: 1px solid #e5e5eb;
    box-shadow: 0 -1px rgba(0,0,0,0.08)
}

.form-row {
    position: relative;
    display: block;
    overflow: hidden;
    line-height: 42px;
    white-space: nowrap;
    text-overflow: ellipsis
}

.form-row+.form-row {
    border-top: 1px solid #e5e5eb
}

fieldset {
    margin-bottom: 20px;
    padding-left: 12px;
    background: #fff;
    box-shadow: 0 -1px rgba(0,0,0,0.08),0 1px rgba(0,0,0,0.07),0 1px 1px rgba(0,0,0,0.05)
}

fieldset:last-child {
    margin-bottom: 0
}

.form-text-row {
    overflow: visible
}

.form-text-row>.form-hint {
    margin-top: -4px
}

.form-text-label {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    line-height: 42px;
    padding-right: 12px;
    overflow: hidden;
    white-space: nowrap;
    color: #7c7b83;
    text-overflow: ellipsis
}

.form-text-label+.form-text-input {
    max-width: 70%
}

.form-text-label.width-20 {
    width: 20%
}

.width-20+.form-text-input {
    width: 80%;
    max-width: none
}

.width-20 ~ .form-hint {
    margin-left: 20%
}

.form-text-label.width-30 {
    width: 30%
}

.width-30+.form-text-input {
    width: 70%
}

.width-30 ~ .form-hint {
    margin-left: 30%
}

.form-text-label.width-40 {
    width: 40%;
    max-width: none
}

.width-40+.form-text-input {
    width: 60%
}

.width-40 ~ .form-hint {
    margin-left: 40%
}

.form-text-label.width-50 {
    width: 50%;
    max-width: none
}

.width-50+.form-text-input {
    width: 50%
}

.width-50 ~ .form-hint {
    margin-left: 50%
}

.form-text-label-black {
    color: #000
}

.form-text-input {
    width: 100%;
    height: 42px;
    padding-right: 12px
}

.form-text-textarea {
    width: 100%;
    height: 82px;
    line-height: 22px;
    padding: 8px 12px 8px 8px;
}

.form-select-row:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 42px;
    background: white;
    pointer-events: none
}

.form-select-row:after {
    content: "\33";
    right: 10px;
    font-size: 24px;
    pointer-events: none
}

.form-select-input {
    width: 100%;
    height: 42px;
    background-color: transparent;
    -webkit-appearance: none
}

.form-select-input::-ms-expand {
    display: none
}

.form-option-input {
    position: absolute;
    left: 0
}

.form-option-label {
    position: relative;
    display: block;
    padding-left: 32px;
    background: white
}

.form-option-label:before {
    position: absolute;
    top: 9px;
    left: 0;
    font-size: 24px;
    color: #2087fc
}

.form-option-input:checked+.form-option-label {
    font-weight: 500;
    color: #2087fc
}

.form-option-input:checked+.form-option-label:before {
    content: "\4e"
}

.form-option-alt>.form-option-label {
    padding: 0 42px 0 0
}

.form-option-alt>.form-option-label:before {
    left: auto;
    right: 12px
}

.form-switch-row>.switch {
    float: right;
    margin: 7px 12px 0 12px
}

.form-submit {
    padding: 12px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 -1px rgba(0,0,0,0.08),0 1px rgba(0,0,0,0.07),0 1px 1px rgba(0,0,0,0.05)
}

.form-submit>.button {
    float: left;
    width: 40%;
    width: -webkit-calc(50% - 6px);
    width: calc(50% - 6px)
}

.form-submit>.button+.button {
    float: right
}

.form-submit>.button:only-child {
    float: none;
    width: 100%
}

fieldset>.form-submit {
    margin-left: -12px;
    border-top: 1px solid #e5e5eb;
    box-shadow: none
}

.form-row.valid:after,.form-row.invalid:after {
    position: absolute;
    top: 9px;
    right: 10px;
    font-size: 24px
}

.form-row.valid>input,.form-row.valid>select,.form-row.invalid>input,.form-row.invalid>select {
    padding-right: 42px
}

.form-row.valid>.form-hint,.form-row.invalid>.form-hint {
    font-weight: 500
}

.form-row.valid:after {
    content: "\52";
    color: #46ca5e
}

.form-row.valid>.form-hint {
    color: #3bb34b
}

.form-row.invalid:after {
    content: "\72";
    color: #fd3c31
}

.form-row.invalid>.form-hint {
    color: #d8332a
}

.form-hint {
    display: block;
    line-height: 24px;
    padding-bottom: 8px;
    white-space: normal;
    font-size: 14px;
    color: #7c7b83
}

.form-row+.form-hint {
    border-bottom: 1px solid #e5e5eb
}

.form-row+.form-hint:last-child {
    border-bottom: 0
}

.switch {
    display: inline-block;
    vertical-align: top;
    position: relative
}

.switch-input {
    display: none
}

.switch-label {
    display: block;
    width: 56px;
    height: 28px;
    background: #fafafa;
    border-radius: 15px;
    box-shadow: inset 0 0 0 1px #e5e5e5;
    left: 1px;
    -webkit-transition: left 0.2s ease-out;
    -moz-transition: left 0.2s ease-out;
    -o-transition: left 0.2s ease-out;
    transition: left 0.2s ease-out
}

.switch-label:before {
    content: '';
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: inherit;
    width: 26px;
    background: white;
    border-radius: 13px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2),0 0 2px rgba(0,0,0,0.2)
}

.switch-input:checked+.switch-label {
    background: #46ca5e;
    box-shadow: none;
    left: 29px
}

.text {
    margin: -12px 0 20px;
    padding: 0 12px;
    font-size: 14px;
    color: #7c7b83;
    text-shadow: 0 1px rgba(255,255,255,0.2)
}

.text.centered {
    text-align: center
}

.text-block {
    margin-bottom: 20px;
    padding: 10px 12px;
    font-size: 15px;
    background: #fff;
    box-shadow: 0 -1px rgba(0,0,0,0.08),0 1px rgba(0,0,0,0.07),0 1px 1px rgba(0,0,0,0.05)
}

.text-block>h2 {
    margin: 12px 0 6px;
    font-weight: 500
}

.text-block>h2:first-child {
    margin-top: -2px
}

.text-block>p {
    margin-bottom: 8px
}

.text-block>p:last-child {
    margin-bottom: 0
}

.tag {
    display: inline-block;
    vertical-align: top;
    margin-right: 4px;
    padding: 0 12px;
    line-height: 30px;
    color: #222;
    font-size: 15px;
    background: #d5e4f7;
    border-radius: 16px
}

.tag.active {
    color: white;
    background: #2087fc
}

.tag-small {
    padding: 0 9px;
    line-height: 24px;
    font-size: 14px
}

.button {
    display: inline-block;
    vertical-align: top;
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    color: #2087fc;
    text-align: center;
    background: transparent;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px #2087fc;
    -webkit-appearance: none
}

.button:active {
    opacity: .6
}

.button:before {
    display: inline-block;
    vertical-align: top;
    margin: 8px 6px 0 -4px;
    font-size: 24px
}

.button-small {
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    font-size: 14px
}

.button-green {
    font-weight: 500;
    color: white;
    background: #46ca5e;
    box-shadow: none
}

.button-green.icon-check:before {
    content: "\4e"
}

.button-red {
    /* font-weight: 500; */
    /* color: white; */
    /* background: #fd3c31; */
    box-shadow: none;
}

.button-red.icon-delete:before {
    content: "\4d";
    margin-top: 4px;
    font-size: 30px
}

.action-sheet {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none
}

.action-sheet,.action-sheet>.action-sheet-content {
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out
}

.action-sheet.in {
    background: rgba(0,0,0,0.35);
    pointer-events: auto
}

.action-sheet.in>.action-sheet-content {
    bottom: 0
}

.action-sheet-content {
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    max-height: 80%;
    padding: 12px 15px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.95),rgba(231,240,245,0.95));
    background-image: -moz-linear-gradient(top, rgba(255,255,255,0.95),rgba(231,240,245,0.95));
    background-image: -o-linear-gradient(top, rgba(255,255,255,0.95),rgba(231,240,245,0.95));
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.95),rgba(231,240,245,0.95))
}

.action-sheet-content>h3 {
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 500
}

.action-sheet-content>p {
    font-size: 14px
}

.action-sheet-button {
    display: block;
    margin: 0 -15px;
    line-height: 48px;
    font-size: 18px;
    text-align: center;
    background: rgba(0,0,0,0.05)
}

.action-sheet-button:last-child {
    margin-bottom: -12px
}

.action-sheet-button-blue {
    color: white;
    background: #2087fc
}

.action-sheet-icons {
    height: 87px;
    margin: 15px -15px 0;
    padding: 15px 15px 12px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    border-top: 1px solid #aab1b5;
    -webkit-overflow-scrolling: touch
}

.action-sheet-icon {
    display: inline-block;
    vertical-align: top;
    width: 60px;
    white-space: normal
}

.action-sheet-icon+.action-sheet-icon {
    margin-left: 15px
}

.action-sheet-icon-link {
    position: relative;
    display: block;
    padding-top: 65px;
    line-height: 1;
    font-size: 11px;
    color: #000;
    text-align: center
}

.action-sheet-icon-link:before,.action-sheet-icon-link:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.action-sheet-icon-link:before {
    line-height: 60px;
    font-size: 32px;
    color: #8e969b
}

.action-sheet-icon-link:after {
    content: '';
    height: 58px;
    border: 1px solid #aab1b5;
    border-radius: 10px
}

.action-sheet-icon-link.icon-camera:before {
    content: "\e00f";
    margin-top: -2px
}

.action-sheet-icon-link.icon-message:before {
    content: "\e010";
    margin-top: -4px
}

.action-sheet-icon-link.icon-cloud-up:before {
    content: "\e003"
}

.action-sheet-icon-link.icon-link:before {
    content: "\e016"
}

.action-sheet-icon-link.icon-pen:before {
    content: "\6a"
}

.action-sheet-icon-link.icon-trash:before {
    content: "\e019"
}

.alert {
    position: fixed;
    z-index: 10;
    top: 10px;
    min-width: 300px;
    min-height: 50px;
    max-height: 100px;
    bottom: 0;
    right: 0;
    pointer-events: none;
    margin: 20px;
}

.alert,.alert>.alert-content {
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out
}

.alert.in {
    background: rgba(0,0,0,0.35);
    pointer-events: auto
}

.alert.in>.alert-content {
    left: 0;
    right: 0
}

.alert-content {
    position: absolute;
    top: 50%;
    left: -100%;
    right: 100%;
    margin: 0 15px;
    padding: 12px 15px;
    border-radius: 8px;
    background-image: -webkit-linear-gradient(top, #eef3f3,#d8e2e2 50%,#ebf0f0);
    background-image: -moz-linear-gradient(top, #eef3f3,#d8e2e2 50%,#ebf0f0);
    background-image: -o-linear-gradient(top, #eef3f3,#d8e2e2 50%,#ebf0f0);
    background-image: linear-gradient(to bottom, #eef3f3,#d8e2e2 50%,#ebf0f0)
}

.alert-content>h3 {
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: 500;
    text-align: center
}

.alert-content>p {
    font-size: 14px;
    text-align: center
}

.alert-text-input {
    display: block;
    width: 100%;
    height: 32px;
    margin: 12px 0;
    padding: 0 4px;
    background: white;
    border: 1px solid #c6c9c8;
    border-radius: 1px;
    -webkit-appearance: none
}

.alert-buttons {
    margin: 15px -15px -12px;
    overflow: hidden;
    border-top: 1px solid #c6c9c8
}

.alert-button {
    float: left;
    width: 50%;
    line-height: 44px;
    padding-bottom: 1px;
    font-size: 17px;
    text-align: center
}

.alert-button.left {
    float: left;
    border-right: 1px solid #c6c9c8
}

.alert-button.right {
    float: right
}

.alert-button.primary {
    font-weight: 500
}

.alert.alert-success {
    background: #1E824C;
    padding: 13px;
    border-radius: 7px;
    color: white;
}


fieldset.text-center {
    text-align: center;
}